.dropdown {
  width: 17rem;
}

.dropdownContent {
  display: none;
  position: relative;
  margin-top: 0.87rem;
  margin-right: 2rem;
  background-color: #09a2c1;
  width: 17rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 0.5rem 0 0.5rem 0.5rem;
  :last-child {
    border-bottom: none;
  }
}

.dropdownContent:after,
.dropdownContent:before {
  bottom: 100%;
  left: 90%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.dropdownContent:after {
  border-color: rgba(0, 163, 194, 0);
  border-bottom-color: #0ba1c0;
  border-width: 0.6rem;
  margin-left: -0.6rem;
}
.dropdownContent:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #0ba1c0;
  border-width: 0.6rem;
  margin-left: -0.6rem;
}

.dropdownContent div {
  color: #ffffff;
  padding: 0.75rem 1rem;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #3797aa;
  :last-child {
    border-bottom: none;
  }
}

.show {
  display: block;
}

.dropdownContent a:hover {
  background-color: #008591;
}

.faUser {
  position: relative;
  margin-right: 1.5rem;
}

.arrow {
  margin-left: 1.5rem;
}
