.dropbtn {
  height: 3.25rem;
  font-size: 0.8rem;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownMainStyle {
  display: inline-block;
  padding: 0.62rem 1.25rem;
  margin-bottom: 0;
  font-size: 1.2rem;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #00a2bd;
  border: 1px solid transparent;
  text-shadow: none;
  width: 100%;
}
