.dropbtn {
  height: 3.25rem;
  font-size: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownMainStyle {
  display: inline-block;
  padding: 0.62rem 1.25rem;
  margin-bottom: 0;
  font-size: 1.2rem;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #00a2bd;
  border: 1px solid transparent;
  text-shadow: none;
  width: 100%;
  font-size: 1.4rem;
}

.filterButton {
  width: 9rem;
  height: 3rem;
  background-color: #005960;
  color: #ffffff;
  border: 1px solid #28737a;
  border-radius: 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.add {
  height: 4rem;
  width: 21rem;
  border-radius: 20rem;
  background-color: #007f79;
  color: #ffffff;
  font-size: 1.4rem;
  border: 1px solid transparent;
  text-shadow: none;
  cursor: pointer;
  font-weight: 600;
  display: inline-block;
  padding: 0.62rem 1.25rem;
}
