.container {
  width: 29rem;
  height: 40rem;
  background: #fff;
  border-radius: var(--radius__users);
  text-align: center;
  padding-top: 1.5rem;
}

.userPic {
  width: 20rem;
}

.infoContainer {
  margin-top: 2rem;
}

table {
  text-align: center;
  width: 20rem;
  font-size: 1.2rem;
  tr > td {
    padding-bottom: 1rem;
  }
  tr :first-child {
    text-align: right;
    color: var(--color__text-grey-light);
    width: 40%;
  }
  tr :last-child {
    text-align: left;
    padding-left: 0.8rem;
    color: var(--color__text-grey);
  }
}
