.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  color: #fff;
  padding: 1.8rem 1.8rem 1.8rem 1rem;
  :first-child {
    display: flex;
    p {
      margin-bottom: 0.5rem;
    }
  }
  .force {
    display: flex;
    margin-top: 1rem;
    :first-child {
      margin-right: 1rem;
    }
    p {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.faCopyright {
  font-size: 3.5rem;
}

.iconContainer {
  width: 7rem;
  :first-child {
    margin: 0 auto;
  }
}
