.select {
  float: left;
  padding-left: 0.62rem;
  margin-left: 2rem;
  width: 15rem;
  border-radius: 2rem;
  background-color: #ffffff;
  height: var(--height__button-bg);
  border: 1px solid #132428;
}
