.searchBox {
  width: 100%;
  height: var(--height__button-bg);
  border-radius: var(--radius__button-bg);
  padding-left: var(--radius__button-bg);
  border: 1px solid #132428;
  font-size: 14px;
  position: relative;
}

.searchIcon {
  float: right;
  position: relative;
  margin-top: -2.5rem;
  color: grey;
  margin-right: 1.4rem;
  font-size: 1.4rem;
}

.searchBoxContainer {
  width: 22rem;
}
