.searchBox {
  width: 100%;
  height: 3rem;
  border-radius: 1.4rem;
  padding-left: 1.4rem;
}

.searchIcon {
  float: right;
  position: relative;
  margin-top: -2rem;
  color: grey;
  margin-right: 1.1rem;
}

.searchBoxContainer {
  width: 18rem;
}
