.container {
  background: linear-gradient(to bottom right, #007f79, #0b3f6b);
  min-height: 48rem;
  width: 100%;
  padding-top: 2rem;
  height: calc(100vh - 34rem);

  div:first-child {
    margin-top: 0rem;
    margin-right: 2rem;
  }
}

.tableContainer {
  width: 100%;
}
