.sidebar {
  width: var(--size__sidebar-width);
  min-height: 100%;
}

.nav {
  margin-top: 0rem;
}

.item {
  display: inline-block;
}

.link {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--color__black);
  text-decoration: none;
  padding: 0.5rem 3rem 0.5rem 3rem;
  background: var(--color__nav-bg);

  &:hover,
  &:active,
  &.active {
    color: var(--color__primary);
    background: red;
  }
}

li:last-child {
  border-radius: 0 1rem 0 0;
}
