.sidebar {
  width: var(--size__sidebar-width);
  min-height: 100%;
}

.nav {
  margin-top: 0rem;
}

.item {
  display: inline-block;
}

.link {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color__white);
  text-decoration: none;
  padding: 0.9rem 3rem 0.75rem 3rem;
  background: var(--color__nav-bg);

  &:hover,
  &:active,
  &.active {
    background: #008591;
  }
}

li:last-child {
  border-radius: 0 1rem 0 0;
}

.container {
  width: 47rem;
  height: var(--height__button-bg);
  padding: 0.25rem;
  background-color: var(--color__nav-bg);
  text-align: center;
  border-radius: var(--radius__button-bg);
}
